*{
  margin: 0;
	padding: 0;
	border: 0;  
}
:root{
  scroll-behavior: smooth;
}
main{
  padding-top: 35px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;  
}

body{
  background: url("../img/wallpaper2blur.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header{
  border-bottom: 1px solid #c3d9ee ;
  background: linear-gradient(180deg, rgba(0,65,97,1) 0%, rgba(0,98,147,1) 48%, rgba(0,150,224,1) 100%);
  height: 80px;
}
footer{
  background: linear-gradient(360deg, rgba(0,65,97,1) 0%, rgba(0,98,147,1) 48%, rgba(0,150,224,1) 100%);
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
}
.contenedor-principal{
  padding: 10px;
  position: relative;
  border: 2px solid #c3d9ee;
  height: 75vh;
  width: 40vw;
  border-radius: 20px;
  box-shadow: inset 0 0 9.5em 0 #0078b4, 0 0 10em 0 #004364;
}
.bolas-navidad{
  padding: 10px;
  border: 2px solid #c3d9ee;  
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.300);
}
#bola1{
  position: absolute;
  /*top: 18.3%;
  left: 39.3%;
  */
  top: 126px;
  left: 300px;
}
.contendor-multimedia{
  padding: 10px;
  border: 2px solid #c3d9ee;
  height: 40vh;
  width: 20vw;
  border-radius: 20px;
  box-shadow: inset 0 0 9.5em 0 #0078b4, 0 0 10em 0 #004364;
}
.particulas {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -1;
}
@supports ( pointer-events: none ) {
  .particulas {
    z-index: -1;
    pointer-events: none;
  }
}
#imgCalendario{  
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
iframe{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}